<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> 
  <div class="container">
    <%= link_to image_tag("logos1.jpg", alt: "logo MM"),root_path,class: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Accueil", root_path %></li>
          <li><%= link_to "Services", service_path %></li>
          <li><%= link_to "Team", team_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
  </div>
</header>